<a href="https://colab.research.google.com/github/jhine/TIL/blob/master/%EB%B0%B1%EC%A4%80_%EB%AC%B8%EC%A0%9C%ED%92%80%EC%9D%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 백준

## A+B 유형 (1~8)

### A+B - 1

# 별찍기 (1~8)

### 별찍기 1

```
*
**
***
****
*****
```

In [17]:
#직사각형 루프
#for n loop
#for * loop -> n번째 라인을 n번 반복하도록 루프 설정
n = 5

for i in range(n):
  for j in range(n+1):
    print('*', end= ' ')
  print()

* * * * * *
* * * * * *
* * * * * *
* * * * * *
* * * * * *

In [84]:
#별찍기 
n=int(input())

for i in range(n):
  for j in range(i+1):
    print('*', end= ' ')
  print()

5
*
* *
* * *
* * * *
* * * * *

### 별찍기 2

```
        * 
      * * 
    * * * 
  * * * * 
* * * * * 
```

In [96]:
# *앞에 공백이 포함되어있음
n=int(input())

for i in range(n):
  for k in range(n-i):
    print(' ', end= ' ')
  for j in range(i+1):

      print('*', end= ' ')
  print()

5
          *
        * *
      * * *
    * * * *
  * * * * *

### 별찍기 3

```
*****
****
***
**
*
```

In [82]:
n=int(input())
for i in range(n):
  for j in range(n-i):
    print('*', end= ' ')
  print()

5
* * * * *
* * * *
* * *
* *
*

### 별찍기 4

```
*****
 ****
  ***
   **
    *
```

In [101]:
n=int(input())
for i in range(n):
  for k in range(i):
    print(' ', end='')
  for j in range(n-i):
      print('*', end='')
  print()

5
*****
 ****
  ***
   **
    *

In [93]:
#나는 이해라는 것을 하지 못하는 열등하고 하찮은 존재입니다
#틀린예시
n=int(input())
for i in range(n):
  for k in range(i-1+n):
    print(' ', end= ' ')
  for j in range(n-i):

      print('*', end= ' ')
  print()

5
        * * * * *
          * * * *
            * * *
              * *
                *

### 별찍기 5

```
    *
   ***
  *****
 *******
*********
```

In [ ]:
#정사각형
n = 5

for i in range(n):
  for j in range(n+1):
    print('*', end= ' ')
  print()

In [110]:
n=5
for i in range(1, n+1):
  for k in range(n-i):
    print(' ', end= ' ')
  for j in range(2*i-1):
    print('*', end=' ')
  print()

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [111]:
n=int(input())
for i in range(1, n+1):
  for k in range(n-i):
    print(' ', end= ' ')
  for j in range(2*i-1):
    print('*', end=' ')
  print()

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

# 1차원 배열 단계

### 최소 최대 1018

In [5]:
n=int(input())
a=list(map(int, input().split()))
max = 1000000
min = -1
for i in a:
  if max == 1000000 or  max < i: max = i
  if min == -1 or  min > i: min = i
print(min)
print(max)

5
20 10 35 30 7
7
35

### 최댓값 2562

In [ ]:
n=int(input())
a=list(map(int, input().split()))
max = 101

### 숫자의 개수 2577

### 나머지 3052